<h1>Sign In</h1>

<form action="/verify_credentials" method="post">
  <label for="username">Username</label>
  <input id="username" placeholder="Enter your username..." name="input_username">
  
  <label for="password">Password</label>
  <input id="password" type="password" placeholder="Enter your password..." name="input_password">
  
  <button>Sign In!</button>
</form>
